<h1>ArticleMailer#new_posting</h1>

<p>	You posted a great article called <%= @article.title %>. Nice job! </p>

<!--<p)   <%= @greeting %>, find me in app/views/article_mailer/new_posting.html.erb
</p> -->